body {
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format');
    background-size: cover;
    font-size: 1.5rem;
}

.input {
    position: absolute;
    left: 50%;
    top: 40%;
    justify-content: center;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

input {
    width: 40vw;
    padding: 1.5%;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
}

button {
    margin-left: auto;
    padding: 1%;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 2%;
}

@media only screen and (max-width:991px) {
    body {
        background: url('https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format');
        background-size: 100vh;
        background-repeat: no-repeat;
    }
}